body{
    margin:0;
}
.header{
    background-color: rgba(7, 158, 245, 0.918);
    font-size: x-large;
    padding: 2rem;
    margin: 0 0 1rem 0;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}
input{
    width: 40%;
    margin: 1rem auto;
    display: block;
   padding:1rem ;
   height:150px;
text-align: justify;
}
::placeholder{

    font-size: larger;
    font-style: italic;
    padding:0;
    text-align: justify;
}
button{
    background-color: mediumpurple;
    padding:1rem;
    margin:1rem 43%;
    width:150px;
}